<div id="contacts" style="display: flex; flex-direction: column" :for={item <- @contacts}>
    <div>
       Name: <span> <%= item.name %> </span>
       Email:<span> <%= item.email %> </span>
    </div>   
</div>